* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #434344;
}


body{
    position: relative;
	background-color: #CFD0CF;
    width: 100%;
    height: 100%;

}
html{
    width: 100%;
    height: 100%;
}

h1{
	text-align: center;
	font-size: 42px;	
	color: #434344;
	padding-top: 40px;
	font-family: arial;
	line-height: 47px;
}

.gameField {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    margin-top: 40px;
    width: 595px;
    margin-left: auto;
    margin-right: auto;
    perspective: 600px;
}

.card {
	width: 130px;
    height: 130px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    font-size: 72px;
    position: relative;
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 9px;
    transform-style: preserve-3d;
    transition: transform .5s;
    cursor: pointer;

}
.card__back {
    background: linear-gradient(45deg, #22ab93, #19668d);
    border-radius: 9px;
}
.card__front {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    z-index: -1;
    background-color: #fff;
}
.card__back,
.card__front {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.card__back:hover{
    opacity: .9;
}
.card__turn {
    transform: rotateY(180deg);

}


.card__approved{
    border-color: #5ad66f;
}

.card__approved > .card__front{
    background-color:#5ad66f;
}


.card__reject{
    border-color: #f44336;

}

.card__reject > .card__front{
    background-color:#f44336;
}



#timer{
    text-align: center;
    font-weight: bold;
    font-size: 32px;    
    color: #434344;
    margin: 30px 0;
    font-family: arial;
    line-height: 36px;
    
}
.wrapperEndGameSlide{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    min-width: 350px;
    height: 100%;
   background: rgba(0, 0, 0, 0.5);
}
.endGameSlide{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    background-color: white;
    min-width: 350px;
    min-height: 195px;

}
.endGameSlide__message{
    font-family: arial;
    margin-top: 30px;
    font-size: 48px;
    font-weight: bold;
}

.endGameSlide__bottom{
    font-family: arial;
    margin-top: 40px;
    height: 40px;
    line-height: 40px;
    background: linear-gradient(to left, #22ab93, #19668d);
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 9px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-size: 20px;
    color: white;


}
.pushed{
    box-shadow: inset 2px 1px 8px rgba(0,0,0,0.5);
}

.to_be{
    display: flex;
}
